<section>
    <h2>Agregar Turno</h2>

    <form class="form" #eventForm="ngForm" (ngSubmit)="addEvent()">
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]='event.title' name="title" #title='ngModel' placeholder="Titulo" aria-label="Username" aria-describedby="basic-addon1" required>
            <small class="text-danger" *ngIf="!title.valid && title.touched">
                El titulo no es valido
            </small>
        </div>
        <div class="form-group">
            <input type="datetime-local" class="form-control" [(ngModel)]='event.start' name="start"  #dateStart='ngModel' placeholder="Fecha De Inicio" aria-label="DateStart" aria-describedby="basic-addon1" required>
            <small class="text-danger" *ngIf="!dateStart.valid && dateStart.touched">
                La Fecha de inicio no es valida
            </small>
        </div>
        <div class="form-group">
            <input type="datetime-local" class="form-control" [(ngModel)]='event.end'  name="end" #dateEnd='ngModel' placeholder="Fecha de Fin" aria-label="DateEnd" aria-describedby="basic-addon1" required>
            <small class="text-danger" *ngIf="!dateEnd.valid && dateEnd.touched">
                La Fecha de fin no es valida
            </small>
        </div>
        <div class="form-group">
            <textarea  type="datetime-local" class="form-control" [(ngModel)]='event.description'  name="description" #description='ngModel' placeholder="Descripcion" aria-label="With textarea"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit" >Agregar</button>
        </div>
    </form>
</section>