<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <section>
                <!-- <full-calendar class="calendar" [events]="events" [options]="calendarOptions" (mouseover)="viewDetail()"></full-calendar> -->
                <full-calendar 
                    deepChangeDetection="true"
                    [options]="calendarOptions"      
                >
                </full-calendar>
            </section>
            <app-form-event 
                (showError)= showError($event)
            >
            </app-form-event>
        </div>
        <div class="col-md-3">
            <section>
                <h2>Mis Turnos</h2>
                <ul class="list-group">
                    <app-my-events class="my-events-component" *ngFor="let event of myEvents" [event]="event"></app-my-events>
                </ul>
            </section>
        </div>
    </div>

</div>