<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <section>
                <!-- <full-calendar class="calendar" [events]="events" [options]="calendarOptions" (mouseover)="viewDetail()"></full-calendar> -->
                <full-calendar 
                    deepChangeDetection="true"
                    [options]="calendarOptions"      
                >
                </full-calendar>
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                    Launch static backdrop modal
                  </button> -->
                <div [class]="showModal ? 'show modal fade' : 'modal fade'" [style.display]="showModal ? 'block' : 'none'" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" aria-modal="true" role="dialog">
                    <div class="modal-dialog modal-dialog-scrollable show">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideModal()">Cerrar</button>
                          <button type="button" class="btn btn-primary">Ver Detalle</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </section>
            <app-form-event 
                (showError)= showError($event)
            >
            </app-form-event>
        </div>
        <div class="col-md-3">
            <section>
                <h2>Mis Turnos</h2>
                <ul class="list-group">
                    <app-my-events class="my-events-component" *ngFor="let event of myEvents" [event]="event"></app-my-events>
                </ul>
            </section>
        </div>
    </div>

</div>