<li class="list-group-item mis-turnos">
    <div>Titulo: {{event.title}}</div>
    <div>
        Inicio:<span class="text-success"> {{event.start}}</span>
    </div>
    <div>
        Fin:<span class="text-danger"> {{event.end}}</span>
    </div>
    <div class="btns-abm">
        <button class="btn btn-sm btn-primary"><i class="fas fa-eye"></i></button>
        <button class="btn btn-sm btn-warning"><i class="fas fa-pencil-alt"></i></button>
        <button class="btn btn-sm btn-danger" (click)="deleteEvent(event.ui)"><i class="far fa-trash-alt"></i></button>
    </div>
</li>