<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <!-- <full-calendar class="calendar" [events]="events" [options]="calendarOptions" (mouseover)="viewDetail()"></full-calendar> -->
            <full-calendar 
                class="" 
                deepChangeDetection="true"
                [options]="calendarOptions"      
            >
            </full-calendar>
    
        <!-- </div>
    </div>
    <div class="row">
        <div class="col-md-8"> -->
            <app-form-turnos 
                [(eventsDB)]="eventsDB"
                [(misTurnos)]="misTurnos"
                (addMiTurno)=addMiTurno($event)
                (showError)= showError($event)
            >
            </app-form-turnos>
        </div>
        <div class="col-md-3">
            <section>
                <h2>Mis Turnos</h2>
                <ul class="list-group">
                    <app-mis-turnos class="mis-turnos-component" *ngFor="let turno of misTurnos" [turno]="turno"></app-mis-turnos>
                </ul>
            </section>
        </div>
    </div>

</div>